restservicedemo2/src/test/resources/dataSet.dtd

<!ELEMENT dataset (
    CAR*,
    PERSON*)>

<!ELEMENT CAR EMPTY>
<!ATTLIST CAR
    C_ID CDATA #REQUIRED
    MODEL CDATA #IMPLIED
    YOP CDATA #IMPLIED
    OWNER_ID CDATA #IMPLIED
>

<!ELEMENT PERSON EMPTY>
<!ATTLIST PERSON
    P_ID CDATA #REQUIRED
    NAME CDATA #IMPLIED
    YOB CDATA #IMPLIED
>

